//
//  Secrets.example
//  FlowFit
//
//  Created by Javier Gil on 4/8/26.
//

import Foundation

// Copy this file, rename it Secrets.swift, and fill in your key

enum Secrets {
    static let geminiAPIKey = "YOUR_KEY_HERE"
}
